
.remove-img-box {
    cursor: pointer;
    width: 18px;
    text-align: center;
    font-size: 14px;
    position: absolute;
    border: 1px solid black;
    border-radius: 50%;
    color: red;
    right: 3px;
    top: -10px;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 2px;
}
.dot-online{
    background-color:green;
}
.dot-offline {
    background-color: gray;
}
